Desafío - Transformación y manipulación de
datos (Parte II)

In [1]:
# importacion de libreria
import pandas as pd
import numpy as np

1. Carga los datos de cada pestaña del archivo US_Regional_Sales_Data.xlsx en un
DataFrame independiente. (hint: Puedes obtener los nombres de las hojas usando
pd.ExcelFile(archivo).sheet_names)

In [2]:
# hoja de ventas
df_Sales=pd.read_excel(open('US_Regional_Sales_Data.xlsx', 'rb'),sheet_name='Sales Orders Sheet')
#revision
#print(df_Sales.head())
#print(df_Sales.dtypes)

In [3]:
# hoja de customers
df_Customers=pd.read_excel(open('US_Regional_Sales_Data.xlsx', 'rb'),sheet_name='Customers Sheet')
#revision
#print(df_Customers.head())
#print(df_Customers.dtypes)

In [4]:
# hoja de store
df_Store=pd.read_excel(open('US_Regional_Sales_Data.xlsx', 'rb'),sheet_name='Store Locations Sheet')
# revision
#print(df_Store.head())
#print(df_Store.dtypes)

In [5]:
# hoja de Products
df_Products=pd.read_excel(open('US_Regional_Sales_Data.xlsx', 'rb'),sheet_name='Products Sheet')
#revision
#print(df_Products.head())
#print(df_Products.dtypes)

In [6]:
# hoja de Sales Team
df_SalesTeam=pd.read_excel(open('US_Regional_Sales_Data.xlsx', 'rb'),sheet_name='Sales Team Sheet')
#revision
#print(df_SalesTeam.head())
#print(df_SalesTeam.dtypes)

2. Cruza todos los DataFrames usando validación many_to_one, y guarda el resultado
en una nueva variable llamada df_base.

In [7]:
# union de tabla de ventas con el maestro de customers
df_Base=df_Sales.merge(df_Customers, on='_CustomerID', how='left', validate = 'many_to_one')
# ahora uno a la base anterior el maestro de tiendas
df_Base=df_Base.merge(df_Store, on='_StoreID', how='left', validate = 'many_to_one')
# ahora uno a la base anterior el maestro de productos
df_Base=df_Base.merge(df_Products, on='_ProductID', how='left', validate = 'many_to_one')
# ahora uno a la base anterior el maestro de equipo de ventas
df_Base=df_Base.merge(df_SalesTeam, on='_SalesTeamID', how='left', validate = 'many_to_one')
#revision
#print(df_Base.head())
#print(df_Base.dtypes)

3. Agrega las siguientes columnas a df_ base:
Columna Cálculo
ProcurementDays = OrderDate-ProcuredDate
ShippingDays = ShipDate-OrderDate
DeliveryDays = DeliveryDate-ShipDate
CustomerDays = ShippingDays+DeliveryDays

hint: Asegúrate de que las columnas sean de tipo datetime.

In [8]:
df_Base['ProcurementDays'] = df_Base['OrderDate']    - df_Base['ProcuredDate']
df_Base['ShippingDays']    = df_Base['ShipDate']     - df_Base['OrderDate']
df_Base['DeliveryDays']    = df_Base['DeliveryDate'] - df_Base['ShipDate']
df_Base['CustomerDays']    = df_Base['ShippingDays'] + df_Base['DeliveryDays']
#revision
#print(df_Base.head())
#print(df_Base.dtypes)

4. Agrega una nueva columna discreta al df_base, con el nombre CustomerDaysInterval
que clasifique los valores de la columna CustomerDays en los siguientes intervalos:
○ 0 to 15 days
○ 15 to 30 days
○ 30 to 45 days
○ 45 to 60 days
○ 60 to 75 days
○ 75 to 90 days
hint: Utiliza pd.cut con estas etiquetas de Intervalo. Puedes convertir previamente
la columna CustomerDays a valores numéricos con pd.to_numeric(). Considera que
en este caso, el resultado es entregado en formato 10**9 segundos, por lo que
debes dividir el resultado por este valor

In [9]:
# Discretizar los datos en intervalos
intervalos = [0, 15, 30, 45, 60, 75, 90]  # Definir los intervalos deseados

# Etiquetas para las categorías
etiquetas = ['0 to 15 days', '15 to 30 days', '30 to 45 days', '45 to 60 days', '60 to 75 days', '75 to 90 days']

#tranformar a numero columna CustomerDays
# al dividir el resultado de la conversion a numero por 10**9 tranformo el valor a segundos
# luego al dividir por 86400 (corresponde a los segundus de un dia) tranformo el valor a dias
df_Base['CustomerDaysNum'] = (pd.to_numeric(df_Base['CustomerDays'], downcast='integer') / 10**9) / 86400

# Discretizar y devolver valores en lugar de intervalos
df_Base['CustomerDaysInterval'] = pd.cut(df_Base['CustomerDaysNum'], bins=intervalos, labels=etiquetas)

#chequear
#print(df_Base.head())
#print(df_Base.dtypes)
# reviso los nan por columnas
#print(df_Base.isna().sum())
#print(df_Base['CustomerDaysInterval'].value_counts())
#print(df_Base['CustomerDaysNum'].value_counts())
#print(df_Base['CustomerDays'].value_counts())

5. Utiliza una tabla pivote para mostrar el conteo de órdenes agrupando por Sales
Team en las filas y CustomerDaysInterval en las columnas. Este reporte debe
cuadrar con los datos de la pestaña Reporte1 del archivo reportes.xlsx

In [10]:
reporte1 = pd.pivot_table(
                            data = df_Base # DataFrame.
                            , index = ["Sales Team"] # Columna(s) del DataFrame original que queremos como indice de la tabla resultante.
                            , columns = ["CustomerDaysInterval"] # columnas                             
                            , values = ["OrderNumber"] # valores a lo que le aplicaremos la aggfunc.
                            , aggfunc= "count" # función a aplicar a la columna de valores.
                            , fill_value = 0  # tranforma Nan a cero
                            , margins = True # Generar una fila/columna de totales.
)
reporte1

                      OrderNumber                                            \
CustomerDaysInterval 0 to 15 days 15 to 30 days 30 to 45 days 45 to 60 days
Sales Team
Adam Hernandez                 81           179            42             0
Anthony Berry                  76           181            41             0
Anthony Torres                 81           162            45             0
Carl Nguyen                    96           178            40             0
Carlos Miller                  65           148            34             0
Chris Armstrong                92           156            44             0
Donald Reynolds                97           163            36             0
Douglas Tucker                 87           145            45             0
Frank Brown                    85           150            40             0
George Lewis                  104           169            42             0
Jerry Green                    85           165            46             0
Joe Price                      87           138            41             0
Jonathan Hawkins               81           143            36             0
Joshua Bennett                 85           148            32             0
Joshua Little                  83           165            41             0
Joshua Ryan                    83           166            36             0
Keith Griffin                  94           127            25             0
Nicholas Cunningham            88           171            34             0
Patrick Graham                 92           130            37             0
Paul Holmes                    61           159            41             0
Roger Alexander                82           147            42             0
Roy Rice                       75           166            43             0
Samuel Fowler                  90           162            44             0
Shawn Cook                     88           175            40             0
Shawn Torres                   77           160            37             0
Shawn Wallace                  95           168            53             0
Stephen Payne                  97           156            30             0
Todd Roberts                  113           187            40             0
All                          2420          4464          1107             0


CustomerDaysInterval 60 to 75 days 75 to 90 days   All
Sales Team
Adam Hernandez                   0             0   302
Anthony Berry                    0             0   298
Anthony Torres                   0             0   288
Carl Nguyen                      0             0   314
Carlos Miller                    0             0   247
Chris Armstrong                  0             0   292
Donald Reynolds                  0             0   296
Douglas Tucker                   0             0   277
Frank Brown                      0             0   275
George Lewis                     0             0   315
Jerry Green                      0             0   296
Joe Price                        0             0   266
Jonathan Hawkins                 0             0   260
Joshua Bennett                   0             0   265
Joshua Little                    0             0   289
Joshua Ryan                      0             0   285
Keith Griffin                    0             0   246
Nicholas Cunningham              0             0   293
Patrick Graham                   0             0   259
Paul Holmes                      0             0   261
Roger Alexander                  0             0   271
Roy Rice                         0             0   284
Samuel Fowler                    0             0   296
Shawn Cook                       0             0   303
Shawn Torres                     0             0   274
Shawn Wallace                    0             0   316
Stephen Payne                    0             0   283
Todd Roberts                     0             0   340
All                              0             0  7991

6. Agrega la siguiente columna calculada a la base:
KPI Cálculo
GrossMargin OrderQuantity*(UnitPrice*(1-Discount Applied)-UnitCost)

Visión de Negocio: El margen bruto es un indicador financiero que muestra la diferencia entre
los ingresos generados por la venta de un producto o servicio y los costos directos asociados
con su producción o adquisición.

In [12]:
# OrderQuantity*(UnitPrice*(1-Discount Applied)-UnitCost)
df_Base['GrossMargin']=df_Base['Order Quantity'] * (
                        df_Base['Unit Price'] * (1 - df_Base['Discount Applied']) 
                             - df_Base['Unit Cost'])
#chequear
#print(df_Base.head())
#print(df_Base.dtypes)
# reviso los nan por columnas
#print(df_Base.isna().sum())

7. En esta parte debes aplicar un porcentaje a la columna GrossMargin, pero ese
porcentaje dependerá del intervalo en que se encuentre GrossMargin.
KPI Cálculo
CommissionsPercentage % de comisión según la tabla de comisiones
hint: Utiliza pd.cut con labels numéricas para que la columna resultante sea de tipo float.

In [13]:
# por alguna razon tengo registros con margenes negativos (a priori deben ser devoluciones de ventas)
# asi que me tome la libertad de agregar intervalo y categoria -np.inf y 0 respectivamente

# Discretizar los datos en intervalos
intervalos = [-np.inf, 0, 100, 1000, 10000, 100000]  # Definir los intervalos deseados

# Etiquetas para las categorías
etiquetas = [0, 5, 10, 15, 20]

# Discretizar y devolver valores en lugar de intervalos
df_Base['CommissionsPercentage'] = pd.cut(df_Base['GrossMargin'], bins=intervalos, labels=etiquetas)

# convertir a float
df_Base['CommissionsPercentage'] = pd.to_numeric(df_Base['CommissionsPercentage'])
#chequear
#print(df_Base.head())
#print(df_Base.dtypes)
# reviso los nan por columnas
#print(df_Base.isna().sum())
#print(df_Base.isnull().sum())
#print(df_Base.isnull().any())
#df_Base[df_Base['CommissionsPercentage'].isna()]
#print(df_Base['CommissionsPercentage'].value_counts())

 8. Calcula el monto de la comisión, utilizando la Tabla del Anexo.
KPI Cálculo
CommissionsAmount GrossMargin*CommissionsPercentage

In [14]:
# calcula monto de comision
df_Base['CommissionsAmount'] = df_Base['GrossMargin'] * (df_Base['CommissionsPercentage']/100) 
#chequear
#print(df_Base.head())
#print(df_Base.dtypes)
# reviso los nan por columnas
#print(df_Base.isna().sum())

9. Calcula la comisión sobre el margen bruto.
KPI Cálculo
NetMargin GrossMargin-CommissionsAmount

In [15]:
# genero columna netmargin
df_Base['NetMargin'] = df_Base['GrossMargin'] - df_Base['CommissionsAmount'] 
#chequear
#print(df_Base.head())
#print(df_Base.dtypes)
# reviso los nan por columnas
#print(df_Base.isna().sum())

10. Utilizando una tabla pivote, muestra la suma de los valores GrossMargin, NetMargin y
CommissionAmount agrupando por Sales Team en las filas. Este reporte debe cuadrar con
los datos de la pestaña Reporte2 del archivo reportes.xlsx

In [19]:
reporte2 = pd.pivot_table(
                            data = df_Base # DataFrame.
                            , index = ["Sales Team"] # Columna(s) del DataFrame original que queremos como indice de la tabla resultante.
                            , values = ["GrossMargin", "NetMargin", "CommissionsAmount"] # valores a lo que le aplicaremos la aggfunc.
                            , aggfunc= "sum" # función a aplicar a la columna de valores.
                            , fill_value = 0  # tranforma Nan a cero
                            , margins = True # Generar una fila/columna de totales.
)
reporte2

                     CommissionsAmount   GrossMargin     NetMargin
Sales Team
Adam Hernandez            1.266372e+05  7.790952e+05  6.524580e+05
Anthony Berry             1.240612e+05  7.679440e+05  6.438828e+05
Anthony Torres            1.179622e+05  7.439014e+05  6.259392e+05
Carl Nguyen               1.238432e+05  7.747815e+05  6.509383e+05
Carlos Miller             1.108821e+05  6.687529e+05  5.578708e+05
Chris Armstrong           1.225657e+05  7.816087e+05  6.590430e+05
Donald Reynolds           1.437683e+05  8.853868e+05  7.416185e+05
Douglas Tucker            1.208064e+05  7.455286e+05  6.247222e+05
Frank Brown               1.048395e+05  6.708813e+05  5.660418e+05
George Lewis              1.368523e+05  8.391507e+05  7.022985e+05
Jerry Green               1.266604e+05  7.885878e+05  6.619273e+05
Joe Price                 1.288229e+05  7.877074e+05  6.588845e+05
Jonathan Hawkins          1.262169e+05  7.813916e+05  6.551746e+05
Joshua Bennett            1.080491e+05  6.617265e+05  5.536774e+05
Joshua Little             1.358062e+05  8.403212e+05  7.045149e+05
Joshua Ryan               1.142049e+05  7.021578e+05  5.879529e+05
Keith Griffin             1.129401e+05  6.754536e+05  5.625135e+05
Nicholas Cunningham       1.278330e+05  7.926449e+05  6.648119e+05
Patrick Graham            1.216509e+05  7.463940e+05  6.247431e+05
Paul Holmes               1.142249e+05  7.055646e+05  5.913397e+05
Roger Alexander           1.224879e+05  7.730277e+05  6.505398e+05
Roy Rice                  1.345471e+05  8.314466e+05  6.968996e+05
Samuel Fowler             1.293671e+05  7.932549e+05  6.638877e+05
Shawn Cook                1.359863e+05  8.548780e+05  7.188917e+05
Shawn Torres              1.142910e+05  7.056196e+05  5.913287e+05
Shawn Wallace             1.169421e+05  7.267377e+05  6.097956e+05
Stephen Payne             1.161115e+05  7.071568e+05  5.910453e+05
Todd Roberts              1.258321e+05  7.942254e+05  6.683932e+05
All                       3.444193e+06  2.132533e+07  1.788113e+07